# Solubility of __MOLECULE__ in mixture __MIX_LABEL__ — BP-TZVPD-FINE.
ctd=BP_TZVPD_FINE_25.ctd CDIR=__CT_PARAM_PATH__ LDIR=__CT_LICENSE_DIR__ # Global command line
FDIR=__FDIR__ UNIT=SI nocompw wtln                                       # Global command line
!! Solubility of __MOLECULE__ in mixture __MIX_LABEL__                   # Comment line
f="__MOLECULE__.cosmo" autoc                                             # Solute (compound 1)
f="__SOLVENT1___c0.cosmo" autoc                                          # Solvent 1 (compound 2)
f="__SOLVENT2___c0.cosmo" autoc                                          # Solvent 2 (compound 3)
tc=25.0 solub xs={0.0 __X_SOLVENT1__ __X_SOLVENT2__} force_qspr iterative xsolout_x_log10 wsolout_gg lsolout_moll_log10
